:root{--brand-color: #0B0C10;
    --background-color: #07080a;
    --text-color: white;
    --head-color: #66FCF1;
    --button-color: #66FCF1;
  }
  @keyframes background-pan {
    from{
      background-position: 0% center;
    }

    to{
      background-position: -200% center;
    }
  }
  body {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(to right, cyan,black,cyan);
    background-size: 200%;
    font-family: andale mono, monospace;
    background-color: var(--background-color); 
    color: var(--text-color);
    height: 100vh;
    margin: 0;
    display: flex;
    place-items: center;
  }
  .topnav {
    position:fixed;
    display: flexbox;
    flex-direction: column;
    background-color: var(--brand-color);
    overflow: hidden;
  }
  
  .topnav a{
    padding-top: 30;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    height: 50;
    width: 100%;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: var(--button-color);
    color: rgb(0, 0, 0);
  }
  .header{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 50px;
    color: var(--head-color);
  }
  .mainBox{
    width: 450px;
    height: 130vh;
    background-color:rgba(0, 0, 0); 
    top: 55vh;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
  }
  
  .mainBox p{
    margin: 0;
    margin-top: 40px;
    padding: 0;
    font-size: 20px;
  }
  
  .mainBox input{
    width: 100%;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  
  .mainBox input[type="text"],input[type="number"]{
    border: none;
    border-bottom: 1px solid#fff;
    background: transparent;
    outline:none;
    height: 40px;
    font-size: 16px;
    color: var(--text-color);
  }

  .mainBox input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid#fff;
    background: transparent;
    outline:none;
    height: 40px;
    font-size: 16px;
    color: var(--text-color);
  }
  
  .mainBox input[type="submit"]{
    border-color: var(--button-color);
    border-width: 2px;
    outline: none;
    height: 40px;
    background: var(--brand-color);
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
  }
  
  .mainBox input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--button-color);
  }
  
 